body {
    background-color: #FBFEF9;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

#page-wrapper {
    position: relative;
    min-height: 91.8vh;
    padding-bottom: 5rem;
}
footer {
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    background-color: #2F6690;
    height: 2rem;
    width: 100%;
    text-align: center;
}

header {
    padding: 1rem 1rem;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    background-color: #2F6690;

    display: flex;
    flex-flow: row nowrap;
}
header > .widgets {
    margin-right: 1rem;
}

#content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    clear: both;
}
#content > p {
    width: 100%;
}
.result {
    position: relative;
    border: 1px solid black;
    padding: 1rem;
    width: 15%;
    align-content: center;
}
.result img {
    max-width: 100%;
}
.result span {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
}
#navButtons {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    padding: 1em;
}